<div class="container">
  <div class="d-flex row">
    <aside class="col-12 col-lg-3 text-primary">
      <app-productos-filtro></app-productos-filtro>
    </aside>
    <div class="show col-12 col-lg-9">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
          <app-card-productos></app-card-productos>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <app-card-productos></app-card-productos>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <app-card-productos></app-card-productos>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <app-card-productos></app-card-productos>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <app-card-productos></app-card-productos>
        </div>
      </div>
    </div>
  </div>
</div>